* {
    box-sizing: border-box;
    margin: 0;
}

.page-title {
    text-align: center;
    margin-bottom: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#myChart {
    margin: 5%;
    flex: 1 0 60%;
}

.loan-information {
    flex: 1 0 30%;
    padding: 1%;
    box-shadow: 2px 2px 2px 2px #666;
}