* {
    box-sizing: border-box;
    margin: 0;
}

.page-title {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.canvas-container {
    flex: 1 0 60%;
    max-height: 300px;
    margin-left: 1%;
}

.loan-information {
    flex: 1 0 30%;
    margin-right: 2%;
    padding-left: 1%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: #E4E5E0;
    border-radius: 10px;
}

#pie {
    width: 250px !important;
    height: 250px !important;
}

.loan-details {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-areas:
        "total duration"
        "interest type"
        "download empty";
    justify-items: center;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    background: #E4E5E0;
}

.loan-details>div {
    margin: 2%;
    padding: 2%;
}

.tooltip {
    position: relative;
    display: inline-block;
    left: -12px;
    top: 0;
}

.loan-type>.tooltip {
    top: -25px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Input/range styling start */
.input-container {
    display: inline-flex;
    margin-top: 5%;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #021aee;
    border-radius: 5px;
    height: 10px;
    margin-right: 1%;
    outline: none;
    opacity: 0.7;
    transition: 0.1s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #e30425;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.slider::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1%;
    transition: 0.2s;
    width: 50%;
}

input[type=number]:focus {
    border: 1px solid #021aee;
}

/* Input/range styling end */

i {
    position: absolute;
    top: 0;
    left: -12px;
}

.loan-total {
    grid-area: total;
    position: relative;
}

.duration {
    grid-area: duration;
    position: relative;
}

.interest {
    grid-area: interest;
    position: relative;
}

.loan-type {
    grid-area: type;
    display: flex;
    align-items: center;
    position: relative;
}

/* On/off switch start*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
    border-radius: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #021aee;
    opacity: 0.7;
    border-radius: 25px;
    -webkit-transition: .2s;
    transition: .2s;
}

.toggle:hover {
    opacity: 1;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #e30426;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.toggle {
    background-color: #021aee;
}

input:focus+.toggle {
    box-shadow: 0 0 1px #021aee;
}

input:checked+.toggle:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* On/off switch end */

.download {
    grid-area: download;
    display: flex;
    align-items: center;
}

#download-btn {
    background: white;
    color: black;
    border: 2px solid #021aee;
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#download-btn:hover {
    background: #021aee;
    color: white;
}